 <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
  <%= render 'share/side_bar' %>
  <div class="col-md-8">
    <div class="col-xs-12">
      <hr>
      <div class="notice"><%= render 'share/alert', :flash => flash %></div>
      <hr>
    </div>
    <div class="col-md-12">
      <span style="color:#EFEEEA"><b>Home>Payment</b></span>
    </div>
     <div class="col-md-12" >
      <br>
      <hr class="style15">
      <br>
    </div>

      <div class='container' style= 'width:96%; background-color:#fff'>
        <div class='window'>
          <div class='order-info'>
            <div class='order-info-content'>
              <h2>Order Summary</h2>
              <div class='line'></div>
                <span>Name: Tran Duc Thang</span><br>
              <div class='line'></div>
                <span>Dia chi:Kim Ha-Kim Lu-Soc Son-Ha Noi</span><br>
              <div class='line'></div>
                <span>So Dien Thoai:01696107039</span>
              <div class='line'></div>
               <table class="table table-bordered">
               <thead>
                <tr>
                  <th>QTY</th>
                  <th>Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
              <% @order_items.each do |item|  %>
               <tbody>
                <tr>
                  <th scope="row"><%= item.quantity %></th>
                  <td><%= item.product.name %></td>
                  <td><%= number_to_currency item.product.price * item.quantity %></td>
                </tr>
                <tr>
              </tbody>
              <% end %>
              </table>
              <div class='total'>
                <span style='float:left;'>
                  <div class='thin dense'>VAT</div>
                  <div class='thin dense'>Delivery</div>
                  TOTAL
                </span>
                <span style='float:right; text-align:right;'>
                  <div class='thin dense'>$0</div>
                  <div class='thin dense'>$0</div>
                  <%= number_to_currency subtotal %>
                </span>
              </div>
      </div>
      </div>
              <div class='credit-info'>
                <div class='credit-info-content'>
                  <table class='half-input-table'>
                    <tr><td>Please select your card: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
                      <div class='dropdown-select'>
                      <ul>
                        <li>Master Card</li>
                        <li>American Express</li>
                        </ul></div>
                      </div>
                     </td></tr>
                  </table>
                  <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
                  Card Number
                  <input class='input-field'></input>
                  Card Holder
                  <input class='input-field'></input>
                  <table class='half-input-table'>
                    <tr>
                      <td> Expires
                        <input class='input-field'></input>
                      </td>
                      <td>CVC
                        <input class='input-field'></input>
                      </td>
                    </tr>
                  </table>
                  <button class='pay-btn'>Checkout</button>

                </div>

              </div>
            </div>
          </div>




  </div>
