 <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
  <%= render 'share/side_bar' %>
  <div class="col-md-8">
  <br>
    <div class="col-xs-12"> <b><%= t 'home.view_product' %></b></div>
    <div class="col-xs-12">
      <hr>
      <div class="notice"><%= render 'share/alert', :flash => flash %></div>
      <hr>
    </div>
    <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="list_product col-xs-4">
        <div class="col-xs-12">
          <%= image_tag product.image.image_index.url%>
        </div>
        <div class="title_product col-xs-12">
          <a href=""><b><%= product.name %></b></a>
        </div>
        <div class="col-xs-12">
          <p class="description"><%= product.description %></p>
        </div>
        
        <div class="col-xs-12">
            <span style="color: #23556C; font-weight: bold;"><%= number_to_currency product.price %></span>
            <%= link_to t('home.add_cart'), order_item_index_path(quantity: 1, product_id: product.id), method: :post, remote: true,class: 'btn btn-default pull-right' %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
