 <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
  <%= render 'share/side_bar' %>
  <div class="col-md-8">
    <div class="col-xs-12">
      <hr>
      <div class="notice"><%= render 'share/alert', :flash => flash %></div>
      <hr>
    </div>
    <div class="col-xs-12"> <h4><b>Details</b></h4></div>
    <div class="col-md-12">
      <div class="col-xs-5" style="background-color: #fff;">
       <%= image_tag @product.image.image_show.url%>
      </div>
      <div class="col-xs-7">
        <div class="col-md-12">
          <h2><%= @product.name %></h2>
        </div>
        <div class="col-md-12">
          <p>What is Lorem Ipsum?
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="col-md-12">
          <a href="#home" class="btn btn-primary pull-right">More details</a>
        </div>
        <div class="col-md-12">
          <span style="color: #23556C; font-weight: bold;"><h5><%= @product.name %>:</h5></span>
        </div>
        <div class="col-md-12">
          <span style="color: #23556C; font-weight: bold;">Price:</span><i><%= number_to_currency @product.price %>-tax incl.</i>
        </div>
        <div class="col-md-12">
        <%= link_to 'Add to cart', order_item_index_path(quantity: 1, product_id: @product.id), method: :post, remote: true,class: 'btn btn-default pull-right' %>
        </div>
      </div>
    </div>
     <div class="col-md-12" >
      <br>
      <hr class="style15">
      <br>
    </div>
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">MORE INFO</a></li>
        <li><a data-toggle="tab" href="#menu1">DATA SHEET</a></li>
        <li><a data-toggle="tab" href="#menu1">FEEDBACK</a></li>
      </ul>
      <div class="tab-content"  style="border: 1px solid #EFEEEA">
        <div id="home" class="tab-pane fade in active">
          <p><%= @product.description %></p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
      </div>
    </div>
  </div>
</div>
